.header {
  width: 100%;
  height: 90px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  background-color: #1e1f25;
}

.header,
.headerInner,
.headerInner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInner ul a {
  padding: 10px 20px;

  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.headerInner ul a:hover {
  opacity: 0.7;
}

.logoHolder img {
  cursor: pointer;
}

.headerBtn {
  padding: 15px 25px;

  font-family: Outfit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: #00aeef;
  box-shadow: 0px 8px 14px 0px rgba(27, 112, 241, 0.22);
  border: none;

  cursor: pointer;
}

.menu {
  display: none;
  width: 30px;
  height: 30px;

  text-align: center;

  border-radius: 50%;
  cursor: pointer;
}

.burgerIcon {
  display: inline-flex;
  font-size: 22px;
  margin-top: 5px;

  color: #00aeef;
}

.menuOverlay {
  position: fixed;
  left: 0;
  top: 70px;

  width: 0;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 980px) {
  .header {
    height: 70px;
  }

  .logoHolder img {
    width: 60px;
    height: 60px;
  }

  .menu {
    display: block;
  }
  .headerInner ul {
    width: 280px;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    position: fixed;
    right: -300px;
    top: 70px;
    z-index: 10;

    background-color: #1d2229;

    transition: 0.3s;
  }
  .headerBtn {
    display: none;
  }
  .headerInner ul a {
    color: #00aeef;
  }
  ul.activeList {
    right: 0;
  }
  .activeOverlay {
    width: 100%;
  }
}
